.space16{
    margin-top:16px;
}

.space32{
    margin-top:32px;
}

.space64{
    margin-top:64px;
}

.space128{
    margin-top:128px;
}

.space256{
    margin-top:256px;
}

.space512{
    margin-top:512px;
}