@import 'sidebar';
@import 'helpers';

$main-color: purple;
$secondary-color: yellow;

.main-title{
    font-family: 'Nunito';
    text-align: center;
    color: $main-color;
}

.list-group-subitem{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}